
@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar Sticker</h2>

<div class="jumbotron">
    <h2 class="display-3">ALBUM UEFA Champions League: @ViewBag.Title</h2>
    <p class="lead">@ViewBag.Mensaje</p>
    <hr class="my-4">

</div>
<p>
    @Html.ActionLink("Menu principal", "Index")
</p>